<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Killhope</name>
    <description>
        Killhope lead mining museum, information about minerals held at the museum.
    </description>
    <author email="csg-03@dur.ac.uk">
        Team 3
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
