<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Killhope</name>
    <description>
        Killhope lead mining museum, information about minerals held at the museum.
    </description>
    <author email="maxcc@me.com">
        Team 3
    </author>
    <content src="index.html" />
    <access origin="*" />

    <platform name="android">
    	<!-- Icons -->
		<icon src="res/android/drawable-ldpi/ic_launcher.png" density="ldpi" />
		<icon src="res/android/drawable-mdpi/ic_launcher.png" density="mdpi" />
		<icon src="res/android/drawable-hdpi/ic_launcher.png" density="hdpi" />
		<icon src="res/android/drawable-xhdpi/ic_launcher.png" density="xhdpi" />
		<!-- Slpash - Landscape-->
	    <splash src="res/screen/android/res-notlong-land-hdpi/default.png" density="land-hdpi"/>
	    <splash src="res/screen/android/res-notlong-land-ldpi/default.png" density="land-ldpi"/>
	    <splash src="res/screen/android/res-notlong-land-mdpi/default.png" density="land-mdpi"/>
	    <splash src="res/screen/android/res-notlong-land-xhdpi/default.png" density="land-xhdpi"/>
	    <!-- Slpash - Portrait-->
	    <splash src="res/screen/android/res-notlong-port-hdpi/default.png" density="port-hdpi"/>
	    <splash src="res/screen/android/res-notlong-port-ldpi/default.png" density="port-ldpi"/>
	    <splash src="res/screen/android/res-notlong-port-mdpi/default.png" density="port-mdpi"/>
	    <splash src="res/screen/android/res-notlong-port-xhdpi/default.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
    	<!-- Icons -->
		<!-- iOS 8.0+ -->
		<!-- iPhone 6 Plus  -->
		<icon src="res/ios/Icon-60@3x.png" width="180" height="180" />
		<!-- iOS 7.0+ -->
		<!-- iPhone / iPod Touch  -->
		<icon src="res/ios/Icon-60.png" width="60" height="60" />
		<icon src="res/ios/Icon-60@2x.png" width="120" height="120" />
		<!-- iPad -->
		<icon src="res/ios/Icon-76.png" width="76" height="76" />
		<icon src="res/ios/Icon-76@2x.png" width="152" height="152" />
		<!-- iOS 6.1 -->
		<!-- Spotlight Icon -->
		<icon src="res/ios/Icon-40.png" width="40" height="40" />
		<icon src="res/ios/Icon-40@2x.png" width="80" height="80" />
		<!-- iPhone / iPod Touch -->
		<icon src="res/ios/Icon.png" width="57" height="57" />
		<icon src="res/ios/Icon@2x.png" width="114" height="114" />
		<!-- iPad -->
		<icon src="res/ios/Icon-72.png" width="72" height="72" />
		<icon src="res/ios/Icon-72@2x.png" width="144" height="144" />
		<!-- iPhone Spotlight and Settings Icon -->
		<icon src="res/ios/Icon-small.png" width="29" height="29" />
		<icon src="res/ios/Icon-small@2x.png" width="58" height="58" />
		<!-- iPad Spotlight and Settings Icon -->
		<icon src="res/ios/Icon-50.png" width="50" height="50" />
		<icon src="res/ios/Icon-50@2x.png" width="100" height="100" />

		<!-- Slpash - Landscape-->
		<splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
	    <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
	    <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
	    <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
	    <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
	    <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>

		<!-- Slpash - Portrait-->
		<splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
	    <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
	    <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
	    <splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
    </platform>

</widget>
